
/* Your CSS Code here. */
.main{
Width: 200px;
Background-color: purple;
border-left-colors: green;
border: 5 pixels;
Padding: 10px
}

#heading{
Font-size: 20 pixels;
color: white;
Text-decoration: underline
}